<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Добавление</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<header th:insert="base :: header"></header>

<div class="container mt-5 mb-5">
    <h1>Добавление ТОиР</h1>
    <form th:method="POST" th:action="@{/TOiR}" th:object="${TOiR}">
        <input type="text" name="KlassOborud" placeholder="Введите класс оборудования" class="form-control"><br>
        <div style="color:red" th:if="${#fields.hasErrors('KlassOborud')}" th:errors="*{KlassOborud}">klassOborud Error</div>
        <br/>
        <input type="text" name="VidRabot" placeholder="Ввидите вид работ" class="form-control"><br>
        <div style="color:red" th:if="${#fields.hasErrors('VidRabot')}" th:errors="*{VidRabot}">vidRabot Error</div>
        <br/>
        <input type="text" name="Date" placeholder="Ввидите дату работ" class="form-control"><br>
        <div style="color:red" th:if="${#fields.hasErrors('Date')}" th:errors="*{Date}">Date Error</div>
        <input type="submit" value="Добавить"/>
    </form>
</div>

<footer th:insert="/base :: footer"></footer>

</body>
</html>